<ion-header>
  <ion-toolbar color="bcpblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Agencias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)" fill="clear">
        <ion-icon slot="icon-only"  name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-modal trigger="open-modal" [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="bcpblue">
          <ion-buttons slot="start">
            <ion-item color="bcpblue">
              <ion-icon slot="start" name="search"></ion-icon>
              <ion-input type="text" placeholder="Busca" [(ngModel)]="agenciasFind" (ionChange)="filt()"></ion-input>
            </ion-item>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" fill="clear"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item *ngFor="let agencia of agenciasFilt" class="itemSel">

            <ion-avatar slot="start" (click)="irMapa(agencia)"> <img [src]="agencia.avatar" /> </ion-avatar>
            <p (click)="irMapa(agencia)">
              {{agencia.agencia | titlecase}}
              <br>{{agencia.departamento | titlecase}} - {{agencia.provincia | titlecase}}
              <br>{{agencia.direccion}}
            </p>

          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div id="map"></div>

</ion-content>
