<ion-header>
  <ion-toolbar *ngIf="agencia" color="bcpblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agencia {{agencia.agencia}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="agencia">

  <form [formGroup]="agenciaForm" (ngSubmit)="onSubmit($event)">

    <ion-grid fixed>
      <ion-row>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Nombre de Agencia</ion-label>
            <ion-input id="agencia" type="text" placeholder="Nombre" formControlName="agencia"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="agencia" label="Nombre de Agencia" labelParam="3"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Departamento</ion-label>
            <ion-input id="departamento" type="text" placeholder="Departamento" formControlName="departamento"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="departamento" label="Departamento"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input id="direccion" type="text" placeholder="direccion" formControlName="direccion"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="direccion" label="Dirección"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Distrito</ion-label>
            <ion-input id="distrito" type="text" placeholder="Distrito" formControlName="distrito"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="distrito" label="Distrito"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Provincia</ion-label>
            <ion-input id="provincia" type="text" placeholder="Provincia" formControlName="provincia"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="provincia" label="Provincia"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Latitud</ion-label>
            <ion-input id="lat" type="text" placeholder="Latitud" formControlName="lat"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="lat" label="latitud"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4">
          <ion-item>
            <ion-label position="floating">Longitud</ion-label>
            <ion-input id="lon" type="text" placeholder="Longitud" formControlName="lon"></ion-input>
            <app-default-validators-forms slot="error" [form]="agenciaForm" control="lon" label="Longitud"> </app-default-validators-forms>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button type="submit" shape="round" >
            Actualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>


</ion-content>