<div *ngIf="form.get(control).errors && (form.get(control).dirty || form.get(control).touched)">
  <ion-text *ngIf="form.get(control).hasError('required')" color="danger">*{{label}} es requerido</ion-text>
  <ion-text *ngIf="form.get(control).hasError('maxlength')" color="danger">*{{label}} de máximo {{labelParam}} caracteres</ion-text>
  <ion-text *ngIf="form.get(control).hasError('minlength')" color="danger">*{{label}} de mínimo {{labelParam}} caracteres</ion-text>
  <ion-text *ngIf="form.get(control).hasError('email')" color="danger">*Formaito no valido para correo</ion-text>
</div>
