<ion-header [translucent]="true">
  <ion-toolbar color="bcpblue">
    <ion-title slot="start">
      Agencias
    </ion-title>
    <ion-buttons slot="end">
      <ion-item color="bcpblue">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input type="text" placeholder="Busca" [(ngModel)]="agenciasFind" (ionChange)="filt()"></ion-input>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="full">
          <ion-item *ngFor="let agencia of agenciasFilt">

            <ion-avatar slot="start" [routerLink]="['/agencia',agencia.id]"> <img [src]="agencia.avatar" /> </ion-avatar>
            <p [routerLink]="['/agencia',agencia.id]">
              {{agencia.agencia | titlecase}}
              <br>{{agencia.departamento | titlecase}} - {{agencia.provincia | titlecase}}
              <br>{{agencia.direccion}}
            </p>

            <ion-button slot="end" fill="clear" (click)="addFavorito(agencia)">
              <ion-icon *ngIf="!agencia.favorito" slot="icon-only" name="star-outline"></ion-icon>
              <ion-icon *ngIf="agencia.favorito" slot="icon-only" name="star"></ion-icon>
            </ion-button>

            <ion-button slot="end" fill="clear" [routerLink]="['/mapa',agencia.id]">
              <ion-icon slot="icon-only" name="map"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="bcporange">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
